.visual {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 2px 18px rgba(0, 0, 0, 0.307);
  border-radius: 10px;
  border-radius: 25px;

  .label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
  }

  .visualContent {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
    height: 100%;
    padding: 0px 50px 50px 50px;

    .HightElementContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .container {
        width: 33%;
        border-radius: 2px;
        border-radius: 5px;
        min-width: 150px;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 3px 0px rgba(138, 137, 137, 0.178);
        justify-content: space-between;
        position: relative;
        background-color: transparent;

        p {
          margin: 10px;
          padding: 0;
          border: 0;
          text-align: center;
          color: white;
        }

        .barValue {
          position: absolute;
          min-width: 150px;
          bottom: 0px;
          width: max-content;
          height: 20px;
          background-color: rgba(255, 0, 0, 0.651);
          border-radius: 10px;
        }

        .barValue.horizTranslate {
          -webkit-transition: 3s;
          -moz-transition: 3s;
          -ms-transition: 3s;
          -o-transition: 3s;
          transition: 3s;
        }
      }
    }
  }

  .angleHorizonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    padding: 0px 50px 50px 50px;

    height: 100%;

    .label {
      margin: 50px;
      background-color: #010409!important;
      background-image: none;
    }

    .angleHorizon {
      margin: auto;

      .dot {
        box-shadow: 4px 2px 18px rgba(0, 0, 0, 0.307);
        height: 200px;
        width: 200px;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(35, 246, 104, 1) 0%, rgba(30, 193, 104, 1) 100%, rgba(26, 0, 255, 1) 100%);
        border-radius: 50%;
        display: inline-block;
      }
    }
  }

  .compassContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    padding: 0px 50px 50px 50px;

    height: 100%;



    .compass {

      margin: auto;
      // margin-left: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      color: #777;
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;

      .arrow {
        position: absolute;
        z-index: 1;
        top: 30%;
        transform: rotateX(0deg) rotateZ(-1deg) rotateY(15deg) scale3d(1, 1, -0.9);


        span {
          width: 15px;
          height: 50px;
          font-size: 60px;
          font-weight: 900;
        }

      }

      .horizTranslate {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
        transition: 3s;
      }

      .dotDiv {
        background-color: aliceblue;
        box-shadow: 4px 2px 18px rgba(0, 0, 0, 0.307);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: auto;
        position: relative;
        display: inline-block;
        border: 2px solid #777;
      }


      .width {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 45%;
        flex-direction: row;
        justify-content: space-between;
      }

      .height {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}