body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2f3542;
  // overflow-x: hidden;
  background-color: #ffffff;
  scroll-behavior: smooth;
  a {
    color: #ffffff;
    text-decoration: none;
  }

  p{
    padding: 10px;
  }

  &:hover{
    cursor: default;
  }

}
* {
  // outline: 1px solid red; /* Pour tous les éléments */
}


// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }